<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sergio.miapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/flogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/flogo"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme">
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/MaterialDrawerTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/CustomTheme">
            <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />
        </activity>
        <activity
            android:name=".RegistroActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/CustomTheme">
            <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />
        </activity>
        <activity
            android:name=".HomeActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/CustomTheme">
            <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />
        </activity>
        <activity
            android:name=".Opciones.SettingsActivity"
            android:theme="@style/CustomTheme" />
        <activity android:name=".Pestañas.MapaActivity" />
        <activity android:name=".Pestañas.NewsActivity" />
        <activity android:name=".Pestañas.StateActivity" />
        <activity android:name=".Pestañas.ArmasActivity" />
        <activity android:name=".Pestañas.TiendaActivity"></activity>
    </application>

</manifest>